
body {
    background-color: rgb(54, 48, 44);
}

#col2{
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
}

#circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(161, 34, 34);
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    row-gap: 3em;
}

.grid-element {
    display: flex;
    font-size: larger;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 3%;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d4c8be;
    width: 300px;
    padding: 1%;
    padding-bottom: 3%;
}

.card >* {
    width: 100%;
}

.card-img >*{
    width: 100%;
}

.card-actions {
    display: flex;
    justify-content: space-between;
}

td{
    width: 150px;
}
